.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #222528
}

.profile {
    position: relative;
    width: 300px;
    height: 300px;
    background: url("./Pictures/contact\ card\ photo.jpg");
    background-size: cover;
    cursor: pointer;
    /* border: 12px; */
    /* border-top-right-radius: 35px !important; */
    border-radius: 50%
}

/* .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    border-top-right-radius: 35px !important;
    border-radius: 50%;
} */

.profile:hover .overlay {
    opacity: 1
}

.social-icons {
    display: block;
    margin-left: 451px;
    margin-right: auto;
    margin-bottom: 287px;
    width: 50%;
    display: flex;
    list-style: none;
    bottom: 10px;
    position: absolute;
    text-align: center;
    justify-content: space-evenly;
    left: 22px;
    align-items: center;
}

.social-icons ul {
    width: 25px;
    height: 25px;
    /* border: 1px solid #eee; */
    padding: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    transition: all 1s
}

.social-icons li:hover {
    background: #fff;
    color: #000
}

.about {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 313px;
    display: flex;
    top: 40%;
    color: #fff;
    flex: column
}

#about {
    width: 100%;
    height: 720px;
}





* {
    margin: 0;
    padding: 0;
}

body { background-color: #292929; }

section {
    width: 101%;
    height: 33vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

ul#downArrow {
    position: relative;
    width: 40px;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 400%;
}

ul#downArrow li {
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
    animation: ani 0.8s infinite ease-in-out;
    animation-delay: calc(0.2s * var(--i));
    margin-right: 32.5px;
}

ul#downArrow::before,
ul#downArrow::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 30px;
    height: 3px;
    bottom: 0;
}

ul#downArrow::before {
    right: 0;
    transform: rotate(-45deg);
    transform-origin: center right;
}

ul#downArrow::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: center left;
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-5px);
    }

    50% {
        opacity: 1;
        transform: scale(1) translateY(20px);
    }

    100% {
        opacity: 0;
        transform: scale(0.5) translateY(40px);
    }
    
}