.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: rgb(33, 37, 41);
  border-width: 1px;
}

#contact {
  margin-left: 38%;
  margin-top: 8%;
}

.about {
  font-family: Alkatra;
}

#about {
  font-family: Alkatra;
}

.navbar {
  background-color: #212529;
  position: absolute;
  width: 100%;
  line-height: 25px;
  position: sticky;
  top: 0px;
  z-index: 1;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler {
  outline: none;
  color: #0000ff00;
  border: none;
}

@media (min-width: 1030px) {
  .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.active {
  color: blue;
}


.carousel-text-color {
  color: black;
}

.CarImg {
  filter: brightness(70%);
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

#main-container {
  width: 100%;
}

.container contact-card {
  width: 100%;
}

.profile {
  position: relative;
  width: 300px;
  height: 300px;
  background: url("./Pictures/contact\ card\ photo.jpg");
  background-size: cover;
  cursor: pointer;
  border-radius: 50%
}

.profile:hover .overlay {
  opacity: 1
}

.linkedin,
.github,
.telephone {
  text-decoration: none;
  color: inherit;
}

.icon {
  padding-right: 25px;
}

.card-img-top {
  max-height: 173px;
  padding-bottom: 10px;
}

a.btn-primary {
  background-color: #caebf5; /* set the background color to red */
  border-color: #caebf5; /* set the border color to red */
  color: #000000; /* set the font color to white */
}

.social-icons {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.about {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 313px;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column
}

#about {
  /* width: 40%; */
  height: auto;
  margin-top: 124px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
}

section {
  margin-top: 5%;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

ul#downArrow {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 400%;
}

ul#downArrow li {
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
  margin-bottom: 10px;
  animation: ani 0.8s infinite ease-in-out;
  animation-delay: calc(0.2s * var(--i));
  margin-right: 32px;
}

ul#downArrow::before,
ul#downArrow::after {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 30px;
  height: 3px;
  bottom: 0;
}

ul#downArrow::before {
  right: 0;
  transform: rotate(-45deg);
  transform-origin: center right;
}

ul#downArrow::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: center left;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-5px);
  }

  50% {
    opacity: 1;
    transform: scale(1) translateY(20px);
  }

  100% {
    opacity: 0;
    transform: scale(0.5) translateY(40px);
  }

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(185, 184, 184);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}